<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyixi.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.zhiyixi.model.entity.ChartDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
            <result property="chartData" column="chart_data" jdbcType="VARCHAR"/>
            <result property="chartType" column="chart_type" jdbcType="VARCHAR"/>
            <result property="genChartInfo" column="gen_chart_info" jdbcType="VARCHAR"/>
            <result property="genChartResult" column="gen_chart_result" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal,chart_data,
        chart_type,gen_chart_info,gen_chart_result,
        create_time,update_time,is_delete
    </sql>
</mapper>
